

body {
    font-family: Arial, sans-serif;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px; 
    background-color: #f2f2f2;
}

.container {
    max-width: 900px;
    margin: 20px auto; 
    padding: 100px 100px 20px 100px; 
    background-color: #fff;
    border-radius: 10px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 10px;
}

.header hr {
    width: 50%;
    margin: 10px auto;
    border: 1px solid #ccc;
}

.main-content {
    padding-top: 20px;
}

.section {
    margin-bottom: 20px;
}

h3 {
    color: #333;
    margin-bottom: 5px;
    margin-top: 30px;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    /* padding: 0; */
    padding: 2px 100px 20px 20px; 

}

ul li {
    padding: 5px 0;
    margin-left: 20px;
}

ul li::before {
    content: "\2022";
    color: #007bff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

table
{
    border: 1px dashed black;
}

/* th
{
    padding: 2px;
    border: 1px solid #E88741;
} */

td
{
    padding: 8px;
    border: 1px solid #E88741;
}
